.meta/local/
docs/temp
.vscode/
tests/.temp/

junk_data
.pypi-token
.commit_log
__pycache__/
**/__pycache__/
**/.mypy_cache/
**/.pytest_cache/

build/
dist/
zanj.egg-info/

.coverage
htmlcov/

# setup_build.sh

